---
import Card from "./Card/Card.astro";
---

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".cards", {
    scrollTrigger: ".cards",
    y: 100,
  });
</script>

<section class="about-ai">
  <div class="content">
    <h2>Evolving in the Age of GenAI</h2>
    <p>
      Artificial Intelligence (AI) and Machine Learning (ML) are pivotal in
      today's innovative business sphere. Yet, the transition to these
      technologies can be daunting when legacy systems anchor you to the past.
      Modern businesses must embark on the journey toward an AI-Ready
      infrastructure, transforming challenges into opportunities for data-driven
      decisions, streamlined operations, and superior customer engagement.
    </p>
  </div>
  <div class="cards">
    <Card title="Legacy Systems:">
      The Innovation BlockersLegacy systems aren't just technologically
      antiquated; they are innovation-stifling with their lack of flexibility
      and scalability. This translates into a formidable barrier to adopting
      GenAI capabilities, leading businesses to miss out on harnessing AI's
      transformative power effectively.
    </Card>
    <div class="vs">vs</div>
    <Card title="Revolutionizing with AntStack:">
      AntStack's approach to application and data modernization is comprehensive
      and future-forward. We meticulously tailor our services to ensure that
      your transition from a legacy system to an AI-Ready infrastructure is not
      just seamless but also a catalyst for enduring growth and innovation.
    </Card>
  </div>
</section>

<style lang="scss">
  @import "@/utils/_colors.scss";

  .about-ai {
    background: $dark-gradient;
    color: $white;
    padding: 100px;

    .content {
      text-align: center;
      h2 {
        margin: 20px 0;
        font-weight: 700;
        font-size: 2em;
      }
    }
    .cards {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .vs {
        padding: 20px;
        color: $text-dark;
        background: $white;
        border-radius: 50%;
        aspect-ratio: 1;
        font-weight: 700;
        height: fit-content;
        margin: 30px;
      }
    }
  }
</style>
