<section class="build-one">
  <p>Your Digital Journey deserves a great story.</p>
  <h1>Build One with us.</h1>
  <button> Build with us</button>
</section>

<style lang="scss">
  @import "@/utils/_colors.scss";

  .build-one {
    background: $radial-gradient-white;
    padding: 7vw 20vw;
    text-align: center;
    p {
      font-size: 2vw;
      margin-bottom: 1.2vw;
    }
    h1 {
      font-size: 3.4vw;
      margin-bottom: 2.7vw;
    }
    button {
      color: $white;
      background: $radial-gradient-dark;
      padding: 1vw 2vw;
      border-radius: 5000px;
      font-size: 1.2vw;
    }
  }
</style>
