---
import CaseCard from "./CaseCard/CaseCard.astro";
import { caseStudiesData } from "./utils/constants";
---

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const cards = gsap.utils.toArray(".case-card");

  gsap.from(cards, {
    scrollTrigger: {
      trigger: ".case-cards-container",
      markers: true,
      scrub: 1,
      start: "top 70%",
      end: "bottom 100%",
    },
    yPercent: 100,
    stagger: 0.1,
    ease: "sine.out",
  });
</script>

<section class="case-studies">
  <h3>Case Studies</h3>
  <div class="case-cards-container">
    {
      caseStudiesData.map((data) => (
        <CaseCard imgSrc={data.img}>{data.desc}</CaseCard>
      ))
    }
  </div>
  <div class="button-container">
    <button>View All</button>
  </div>
</section>

<style lang="scss">
  @import "@/utils/_colors.scss";

  .case-studies {
    padding: 7vw 9vw;
    h3 {
      font-size: 2vw;
    }
    .case-cards-container {
      margin: 2.5vw 0;
      gap: 1.5vw;
      display: flex;
    }
    .button-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
        color: $white;
        background: $radial-gradient-dark;
        padding: 1vw 2.5vw;
        border-radius: 0.5vw;
        font-size: 1vw;
      }
    }
  }
</style>
