<section class="go-serverless">
  <h3>Ready To Go Serverless?</h3>
  <p>
    Are you ready to embrace the Serverless revolution? Transform your digital
    landscape with AntStack's AWS Well-Architected Serverless and Cloud-native
    solutions, built to propel your business into the future.
  </p>
  <button> Build with us</button>
</section>

<style lang="scss">
  @import "@/utils/_colors.scss";

  .go-serverless {
    background: $radial-gradient-dark;
    color: $white;
    padding: 7vw 20vw;
    text-align: center;
    h3 {
      font-size: 2vw;
      background: $title-gradient-light;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2vw;
      line-height: 2vw;
      margin-bottom: 3vw;
    }
    button {
      background: $white;
      padding: 1vw 2vw;
      border-radius: 5000px;
      color: $text-dark;
      font-size: 1.2vw;
    }
  }
</style>
