---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="transparent-card">
  <div class="image-container"></div>
  <h3>{title}</h3>
  <p><slot /></p>
</div>

<style lang="scss">
  @import "@/utils/_colors.scss";

  .transparent-card {
    border: 1px solid $accent-light;
    border-radius: 3vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
    background: $card-gradient;
    backdrop-filter: blur(50px);
    width: 30vw;
    transform: translateX(65vw);
    &:nth-child(even) {
      transform: translate(65vw, calc(100% + 1vw));
    }

    .image-container {
      width: 4vw;
      background: $white;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    h3 {
      font-size: 1.5vw;
    }
    p {
      font-size: 1.2vw;
    }
  }
</style>
