---
interface Props {
  title: string;
}

const { title = "" } = Astro.props;
---

<div class="card">
  <h1>
    {title}
  </h1>
  <p>
    <slot />
  </p>
</div>

<style lang="scss">
  @import "@/utils/_colors.scss";
  .card {
    border: 1px solid $white;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
    align-self: stretch;
    gap: 1.5vw;
    flex: 1;
    h1,
    p {
      font-size: 1.2vw;
      line-height: 1.8vw;
    }

    &:hover {
      background: $white;
      color: $text-dark;
      transition: 0.2s ease;
    }
  }
</style>
