---
import { Image } from "astro:assets";
import { navData } from "./constants";
import navLogo from "@/assets/nav-logo.svg";
---

<nav>
  <div class="nav-container">
    <div class="menu">
      <Image src={navLogo} alt="AntStack" />
      {
        navData.map((data) => (
          <a href={data.route} class="item">
            {data.name}
          </a>
        ))
      }
    </div>

    <div class="cta">
      <button class="build-button">Build with us</button>
    </div>
  </div>
</nav>

<style lang="scss">
  @import "@/utils/_colors.scss";

  nav {
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5vw 3vw;
    font-size: 1vw;
    .nav-container {
      padding: 1.5vw 3vw;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        font-weight: 600;

        img {
          width: 10vw;
          height: fit-content;
          object-fit: cover;
        }
      }
      .cta {
        .build-button {
          padding: 0.8vw 1.2vw;
          border-radius: 1000px;
          font-size: 1vw;
          font-weight: 700;
          border: none;
          color: $white;
          background-color: $accent-special;
        }
      }
    }
  }
</style>
