$accent-light: #5b7de1;
$accent-dark: #042582;
$accent-special: #d73f44;
$text-dark: #0b2d8c;
$white: #fff;
$radial-gradient-dark: radial-gradient(
  96.3% 78.05% at 0% 16.13%,
  #042582 0%,
  #345aca 95.83%
);
$radial-gradient-light: radial-gradient(
  94.51% 96.24% at 94.51% 3.76%,
  #5b7de1 0%,
  rgba(4, 37, 130, 0.2) 53.29%,
  rgba(52, 90, 202, 0.2) 100%
);
$dark-gradient: linear-gradient(280.57deg, #2b4cae 4.92%, #042582 88.31%);
$card-gradient: radial-gradient(
  99.89% 101.01% at 98.73% 6.12%,
  rgba(255, 255, 255, 0.2) 0%,
  rgba(52, 90, 202, 0.2) 100%
);
$title-gradient-light: radial-gradient(
  100% 96.7% at 0% 3.3%,
  #ccf1f9 0%,
  #ccdaec 100%
);
