---
import TransparentCard from "./TransparentCard/TransparentCard.astro";
import { benefitsData } from "./utils/constants";
---

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const benefitTexts = gsap.utils.toArray(".text-background h1");

  gsap.to(benefitTexts, {
    xPercent: -150,
    ease: "none",
    scrollTrigger: {
      trigger: ".text-background",
      markers: true,
      start: "top top",
      pin: true,
      scrub: 1,
      end: "+=3000",
    },
  });

  const transparentCards = gsap.utils.toArray(".transparent-card");

  gsap.to(transparentCards, {
    xPercent: -480,
    ease: "none",
    scrollTrigger: {
      trigger: ".benefits-cards-container",
      markers: true,
      start: "top top",
      pin: true,
      scrub: 1,
      end: "+=3000",
    },
  });
</script>

<section class="benefits">
  <div class="text-background">
    {
      benefitsData.map(() => (
        <>
          <h1 class="hollow">Benefits</h1>
          <h1 class="solid">Benefits</h1>
        </>
      ))
    }
  </div>
  <div class="benefits-cards-container">
    <div class="benefit-cards">
      {
        benefitsData.map((data) => (
          <TransparentCard title={data.title}>{data.desc}</TransparentCard>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @import "@/utils/_colors.scss";

  .benefits {
    overflow: hidden;
    position: relative;

    .text-background {
      height: 100vh;
      padding: 18vw 0;
      overflow-x: hidden;
      display: flex;
      align-items: center;

      h1 {
        transform: translateX(-400px);
        font-family: Arial;
        font-weight: 900;
        font-size: 10vw;
        &.solid {
          background: $dark-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.hollow {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px;
        }
      }
    }

    .benefits-cards-container {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      height: 100vh;
      padding: 8vw 100%;
      .benefit-cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 10vw;
      }
    }
  }
</style>
